<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Salon_Calendar_Integration.AppConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <level value="INFO" />
      <file value="logs/charites.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <probing privatePath="lib;libs" xmlns="" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Salon_Calendar_Integration.AppConfiguration>
      <setting name="email_address" serializeAs="String">
        <value />
      </setting>
      <setting name="calendar_name" serializeAs="String">
        <value />
      </setting>
      <setting name="calendar_id" serializeAs="String">
        <value />
      </setting>
      <setting name="dbConnectionString" serializeAs="String">
        <value>Data Source=NUTSABOUTNAILS;Initial Catalog=SalonIris;Integrated Security=SSPI;</value>
      </setting>
      <setting name="run_in_background" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="background_minutes" serializeAs="String">
        <value>480</value>
      </setting>
    </Salon_Calendar_Integration.AppConfiguration>
  </userSettings>
</configuration>